---
import AboutHeroImage from '../content/photos/about-me.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who am I and what am I interested in?"
	pubDate={new Date('April 11 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I'm Patrick! I'm a software developer and data engineer from Germany. I was born in 2001 and am currently finishing my master's degree in Data Engineering and Analytics at the Technical University of Munich. My hobbies include programming, traveling, playing the guitar, and most of all, playing various of sports such as tennis, cycling, rugby, skiing, and going to the gym.
	</p>

	<p>
		I created this website as a fun side project. I will be using it as a place to share my thoughts, travels, and maybe some demonstrations of my coding projects.

	</p>
	<p>
		When I am done with my studies, and it is time for me to get a real job, I may use this blog as a portfolio for recruiters. But for now, it will just be a fun place. So if you are actually a potential employer reading this, please be aware that this blog may contain some goofiness. I can also be professional, I promise ✌️.
	</p>
	<p>	
		Apart from it being a nice project for my free time, another major reason why I decided to create this blog is that I want to document my travels a bit more. Everybody my age has Instagram and posts their travel photos, but I don't feel like sharing all my photos and stories on there. This is a more personal space that I pretty much expect to be using by myself, looking back at what I had to share in a few years' time.
	</p>
	<p>
		In some way, I imagine this website a little bit like a photo album, just like the ones my mom used to make (yeah, actually from real paper and stuff, unbelievable). I always loved looking through the meticulously crafted photo albums of her travel adventures as a young woman.
	</p>
	<p>
		For anybody reading this who actually knows me, I am sorry if you feel some cringe reading this. I have only written four paragraphs so far and already feel a little bit embarrassed about what I am about to put on the internet for everyone to see.
	</p>
	<p>
		On that note, there is another thing that I might share on this blog. For a while now, I have been collecting quotes that resonate with me. One of the quotes reads:
	</p>
	<blockquote>
		<p>Don't be afraid to be seen trying - <em>Unknown</em></p>
	</blockquote>
	<p>
		I think this quote is a good reminder to not let the fear of being cringe, embarrassing, or not good enough stop us from just trying things out. So that is what I am doing.
	</p>
</Layout>
